@charset "UTF-8";

/** 分类及焦点图 **/
.xtx_entry {
  height: 600px;
  background-color: #f2f2f2;
  position: relative;
}

.xtx_category {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 9;
}



.xtx_category_super li {
  height: 60px;
  padding: 0 20px 0 40px;
  transition: background-color 0.25s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.xtx_category_super li:hover,
.xtx_category_super li.active {
  background-color: #27BA9B;
}

.xtx_category_super a {
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  /* (修改) 从 50px 改为 1.4, 允许自然换行 */
  width: 100%;
  /* (添加) 让 a 标签占满 flex 容器的宽度 */
}

.xtx_category_super a small {
  font-size: 14px;
}

.xtx_category_super i {
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 0;
  /* (修改) 移除 margin-top, flex 会自动居中 */
  background-position: -75px -110px;
  float: none;
  /* (修改) 移除 float */
  margin-left: auto;
  /* (添加) 自动推到最右侧 */
  flex-shrink: 0;
  /* (添加) 防止箭头被压缩 */
}

.xtx_category_subset {
  width: 1000px;
  height: 100%;
  background-color: rgba(243, 232, 236, 0.75);
  display: none;
  position: absolute;
  top: 0;
  left: 250px;
  z-index: 99;
  /* 确保它在 banner 之上 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* 添加一点阴影 */
}







.xtx_banner {
  width: 1240px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.xtx_banner:hover a {
  opacity: 1;
}

.xtx_banner>a {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-top: -22px;
  opacity: 0;
  transition: opacity 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  z-index: 3;
}

.xtx_banner>a.prev {
  left: 270px;
  background-position: 14px -59px;
}

.xtx_banner>a.next {
  right: 20px;
  background-position: -24px -59px;
}

.xtx_banner .indicator {
  width: 990px;
  text-align: center;
  font-size: 0;
  position: absolute;
  left: 250px;
  bottom: 22px;
}

/* --- 轮播图 (Banner) 样式 --- */

/* 1. 让 <ul> 成为定位容器 */
.xtx_banner ul {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 2. 让所有 <li> 在同一位置重叠 */
.xtx_banner li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* 默认全部透明 (隐藏) */
  opacity: 0;
  /* 添加过渡动画 */
  transition: opacity 0.5s ease;
  /* 确保图片在控制按钮下面 */
  z-index: 1;
}

/* 3. 只显示有 'active' 类的 <li> */
.xtx_banner li.active {
  opacity: 1;
  /* 激活的幻灯片不透明 (显示) */
  z-index: 2;
  /* 确保它在其他幻灯片之上 */
}

/* 强制轮播图中的所有图片都铺满容器 */
.xtx_banner li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* ⇐⇐⇐ 这是最关键的一行 */
}

.xtx_banner .indicator span {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 8px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.43);
}

.xtx_banner .indicator span.active {
  background-color: #fff;
}

/** 公共面板 **/
.xtx_panel .xtx_panel_header {
  height: 115px;
  padding: 40px 0;
}

.xtx_panel .xtx_panel_header h3 {
  height: 35px;
  line-height: 35px;
  margin-left: 6px;
  font-size: 32px;
  font-weight: 400;
  color: #333;
  float: left;
}

.xtx_panel .xtx_panel_header small {
  margin-left: 22px;
  font-size: 16px;
  color: #999;
}

.xtx_panel .xtx_panel_header .more {
  line-height: 1;
  margin-top: 14px;
  font-size: 16px;
  color: #999;
  float: right;
}

.xtx_panel .xtx_panel_header .more i {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 1px;
  background-position: 8px -106px;
}

.xtx_panel .xtx_panel_header .tabs-bar {
  height: 35px;
  padding-top: 13px;
  font-size: 16px;
  margin-right: 80px;
  float: right;
}

.xtx_panel .xtx_panel_header .tabs-bar a {
  padding: 2px 8px;
  margin-left: 5px;
  border-radius: 2px;
}

/* 默认样式 (白底黑字) - 由 common.css 或浏览器默认提供。
  我们只需要定义鼠标悬停时的样式。
*/

/* 规则 1: 鼠标悬停 ( :hover ) 时的样式 
  (适用于所有标签，包括 '果物')
*/
.xtx_panel .xtx_panel_header .tabs-bar a:hover {
  background-color: #27BA9B;
  /* 绿底 */
  color: #fff;
  /* 白字 */
}

.xtx_panel .xtx_panel_goods_1 {
  text-align: justify;
  font-size: 0;
}

.xtx_panel .xtx_panel_goods_1:after {
  content: "";
  display: inline-block;
  width: 306px;
  height: 0;
}

.xtx_panel .xtx_panel_goods_1 a {
  display: inline-block;
  width: 306px;
  height: 406px;
  text-align: center;
}

.xtx_panel .xtx_panel_goods_1 img {
  width: 306px;
  height: 306px;
}

.xtx_panel .xtx_panel_goods_2 {
  height: 610px;
}

.xtx_panel .xtx_panel_goods_2 li {
  width: 240px;
  height: 300px;
  padding-top: 10px;
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #fff;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
  float: left;
}

.xtx_panel .xtx_panel_goods_2 li:hover {
  border-color: #27BA9B;
}

.xtx_panel .xtx_panel_goods_2 li:hover .extra {
  bottom: 0;
}

.xtx_panel .xtx_panel_goods_2 li:first-child {
  height: 610px;
  padding-top: 0;
  margin-left: 0;
  border: 0;
}

.xtx_panel .xtx_panel_goods_2 li:nth-last-child(-n + 4) {
  margin-top: 10px;
}

.xtx_panel .xtx_panel_goods_2 a {
  display: block;
}

.xtx_panel .xtx_panel_goods_2 .img-box {
  width: 240px;
  height: 160px;
  padding: 0 33px;
  text-align: center;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

.xtx_panel .xtx_panel_goods_2 .meta {
  height: 130px;
  line-height: 1.3;
  padding: 10px 22px 0;
  font-size: 19px;
  position: relative;
}

.xtx_panel .xtx_panel_goods_2 .name {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.xtx_panel .xtx_panel_goods_2 .price {
  font-size: 22px;
  color: #CF4444;
  position: absolute;
  bottom: 10px;
}

.xtx_panel .xtx_panel_goods_2 .price small {
  font-size: 17px;
}

.xtx_panel .xtx_panel_goods_2 .extra {
  width: 100%;
  height: 86px;
  padding-top: 10px;
  transition: bottom 0.3s;
  background-color: #27BA9B;
  position: absolute;
  bottom: -86px;
}

.xtx_panel .xtx_panel_goods_2 .extra span {
  display: block;
  width: 124px;
  line-height: 1;
  padding: 9px 0 8px;
  margin: 0 auto;
  text-align: center;
  font-size: 19px;
  color: #fff;
}

.xtx_panel .xtx_panel_goods_2 .extra span:last-child {
  font-size: 13px;
  border-top: 1px solid #fff;
}

.xtx_panel .xtx_panel_goods_2 .label {
  position: absolute;
  left: 0;
  bottom: 266px;
  width: 188px;
  height: 66px;
  text-align: center;
  line-height: 66px;
  color: #fff;
  font-size: 17px;
  border-radius: 0 2px 2px 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}

.xtx_panel .xtx_panel_goods_2 .label span:first-child {
  display: block;
  width: 76px;
  background-color: #000;
}

.xtx_panel .xtx_panel_goods_2 .label span:last-child {
  width: 112px;
  line-height: 1.4;
  transform: translate(0, -50%);
  position: absolute;
  left: 76px;
  right: 0;
  top: 50%;
}

/** 新鲜好物 **/
.xtx_goods_new .xtx_panel_goods_1 a {
  background-color: #f0f9f4;
  transition: 0.5s;
  position: relative;
  top: 0;
}

.xtx_goods_new .xtx_panel_goods_1 a:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  top: -3px;
}

.xtx_goods_new .xtx_panel_goods_1 .name {
  display: inline-block;
  width: 100%;
  margin: 12px 0 10px;
  font-size: 22px;
}

.xtx_goods_new .xtx_panel_goods_1 .price {
  font-size: 23px;
  color: #CF4444;
}

.xtx_goods_new .xtx_panel_goods_1 small {
  font-size: 16px;
}

/** 人气推荐 **/
.xtx_goods_popular {
  padding-bottom: 42px;
}

.xtx_goods_popular .xtx_panel_goods_1 a {
  transition: 0.5s;
}

.xtx_goods_popular .xtx_panel_goods_1 a:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  transform: translate(0, -3px);
}

.xtx_goods_popular .xtx_panel_goods_1 .title {
  display: inline-block;
  width: 100%;
  line-height: 1;
  margin: 20px 0 16px;
  font-size: 22px;
}

.xtx_goods_popular .xtx_panel_goods_1 .alt {
  font-size: 18px;
  color: #999;
}

/** 热门品牌 **/
.xtx_goods_brand {
  padding-bottom: 32px;
  background-color: #f5f5f5;
}

.xtx_goods_brand .page-bar {
  float: right;
}

.xtx_goods_brand .page-bar a {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 1;
  margin-top: 10px;
  background-color: #e2e2e2;
}

.xtx_goods_brand .page-bar a:hover,
.xtx_goods_brand .page-bar a.active {
  background-color: #27BA9B;
}

.xtx_goods_brand .page-bar .prev {
  margin-right: 5px;
  background-position: -32px -106px;
  transform: rotate(180deg);
}

.xtx_goods_brand .page-bar .next {
  background-position: -32px -106px;
}

.xtx_goods_brand .xtx_goods {
  height: 305px;
}

.xtx_goods_brand .xtx_goods li {
  float: left;
  font-size: 0;
}

.xtx_goods_brand .xtx_goods a {
  margin-right: 10px;
}

.xtx_goods_brand .xtx_goods a img {
  width: 240px;
  height: 305px;
}

.xtx_goods_brand .xtx_goods a:last-child {
  margin-right: 0;
}

/** 生鲜 **/
.xtx_goods_category {
  padding-bottom: 80px;
}

/** 最新主题 **/
.xtx_goods_topic {
  background-color: #f5f5f5;
  padding-bottom: 52px;
}

.xtx_goods_topic li {
  width: 406px;
  margin-left: 11px;
  transition: 0.5s;
  float: left;
  background: white;
}

.xtx_goods_topic li:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  transform: translate(0, -3px);
}

.xtx_goods_topic li:first-child {
  margin-left: 0;
}

.xtx_goods_topic li a {
  display: block;
  height: 287px;
  position: relative;
}

.xtx_goods_topic .meta {
  width: 100%;
  height: 100%;
  color: #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 50%);
  position: absolute;
  bottom: 0;
}

.xtx_goods_topic .meta .title {
  height: 70px;
  padding-left: 16px;
  font-size: 22px;
  position: absolute;
  bottom: 0px;
}

.xtx_goods_topic .meta .title small {
  display: block;
  font-size: 19px;
  color: #999;
}

.xtx_goods_topic .meta .price {
  position: absolute;
  bottom: 25px;
  right: 16px;
  display: block;
  line-height: 1;
  padding: 4px 8px 4px 7px;
  color: #CF4444;
  font-size: 17px;
  background-color: #fff;
  border-radius: 2px;
}

.xtx_goods_topic .meta .price small {
  font-size: 15px;
}

.xtx_goods_topic .social {
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  font-size: 16px;
}

.xtx_goods_topic .social i {
  display: inline-block;
  width: 15px;
  height: 14px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.xtx_goods_topic .social .like,
.xtx_goods_topic .social .liked,
.xtx_goods_topic .social .view {
  float: left;
  margin-right: 25px;
}

.xtx_goods_topic .social .reply {
  float: right;
}

.xtx_goods_topic .social .like i {
  background-position: -120px -110px;
}

.xtx_goods_topic .social .liked i {
  background-position: -240px -110px;
}

.xtx_goods_topic .social .view i {
  background-position: -160px -110px;
}

.xtx_goods_topic .social .reply i {
  width: 17px;
  height: 16px;
  top: 4px;
  background-position: -200px -110px;
}

.xtx-wrapper {
  background: #f5f5f5;
  line-height: 1.4;
}

.xtx-wrapper .container {
  width: 1240px;
  margin: 0 auto;
}

.xtx-wrapper .container .title {
  height: 215px;
  line-height: 215px;
  font-size: 32px;
  text-align: center;
  font-weight: normal;
}

.xtx-bg-title {
  width: 100%;
  height: 180px;
  padding-left: 213px;
  background: no-repeat center / cover;
}

.xtx-bg-title h4 {
  padding-top: 52px;
  font-size: 32px;
  font-weight: bold;
}

.xtx-bg-title p {
  padding-top: 5px;
  font-size: 20px;
}

.xtx-large-product {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.xtx-large-product .item {
  width: 610px;
  height: 420px;
  background: white;
  position: relative;
}

.xtx-large-product .item img {
  width: 100%;
  height: 320px;
  display: block;
}

.xtx-large-product .item p {
  padding-left: 55px;
}

.xtx-large-product .item p.tit {
  padding-top: 22px;
  font-size: 16px;
}

.xtx-large-product .item p.desc {
  padding-top: 12px;
  color: #999;
  font-size: 14px;
}

.xtx-large-product .item .price {
  position: absolute;
  bottom: 37px;
  right: 33px;
  color: #CF4444;
  font-size: 18px;
}

.xtx-large-product .item .tag {
  width: 170px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  position: absolute;
  top: 17px;
  left: 15px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.xtx-mini-product {
  padding-top: 40px;
  padding-bottom: 20px;
}

.xtx-mini-product ul li {
  width: 232px;
  height: 320px;
  float: left;
  background: white;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.xtx-mini-product ul li:nth-child(5n) {
  margin-right: 0;
}

.xtx-mini-product ul li img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 22px auto 0;
}

.xtx-mini-product ul li .tit {
  padding-top: 23px;
  font-size: 16px;
}

.xtx-mini-product ul li .desc {
  padding-top: 12px;
  color: #999;
}

.xtx-mini-product ul li .price {
  font-size: 18px;
  color: #CF4444;
  padding-top: 16px;
}

.xtx-simpla-title {
  height: 40px;
  font-size: 28px;
  text-align: center;
}

.xtx-large-brand {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.xtx-large-brand .item {
  width: 610px;
  height: 480px;
  background: white;
  margin-bottom: 40px;
}

.xtx-large-brand .item img {
  width: 100%;
  height: 320px;
  display: block;
}

.xtx-large-brand .item .info {
  padding: 0 35px;
  position: relative;
}

.xtx-large-brand .item .info p.name {
  padding-top: 22px;
  padding-bottom: 12px;
  font-size: 20px;
}

.xtx-large-brand .item .info p.name i {
  width: 36px;
  height: 18px;
  line-height: 18px;
  background: #27BA9B;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}

.xtx-large-brand .item .info p.desc {
  color: #999;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-right: 40px;
}

.xtx-large-brand .item .info .price {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #CF4444;
  font-size: 18px;
}

.xtx-large-brand .item .comment {
  padding: 15px 35px 0;
  line-height: 40px;
  color: #999;
}

.xtx-large-brand .item .comment .line {
  width: 100%;
  height: 1px;
  background: #E4E4E4;
}

.xtx-large-brand .item .comment .red {
  color: #CF4444;
}

.xtx-large-brand .item .comment .mr18 {
  margin-right: 18px;
}

/* --- 副菜单 (Mega Menu) 样式 --- */



/* 当鼠标悬停在 .xtx_category 区域时，
      我们稍后会用 JS 来将 .xtx_category_subset 变为 display: block
    */

/* 单个子菜单面板的样式 */
.xtx_category_subset .subset {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  /* 确保 padding 不会撑开宽度 */
  display: none;
  /* 默认隐藏所有面板 */

  /* 使用 flex 布局来排列面板内的内容 */
  /* JS 会控制显示 */
  flex-wrap: wrap;
  align-content: flex-start;
}

/* JS 会给需要显示的面板添加 .active 类 */
.xtx_category_subset .subset.active {
  display: flex;
  /* 当面板激活时，使用 flex 布局显示 */
}

/* 子菜单中的标题和列表样式 (可选, 用于美化) */
.xtx_category_subset h4 {
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  margin: 10px 0;
  color: #333;
}

.xtx_category_subset ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.xtx_category_subset li {
  width: auto;
  /* 自动宽度 */
  margin-right: 15px;
  margin-bottom: 10px;
}

.xtx_category_subset li a {
  font-size: 14px;
  color: #666;
  padding: 5px;
}

.xtx_category_subset li a:hover {
  color: #27ba9b;
  /* 你的网站主题色 */
  background-color: #f0f9f4;
}

/* --- 副菜单样式结束 --- */
/* --- 検索サジェスト (Search Suggestion) スタイル --- */

/* 1. 検索ラッパーを相対配置に設定 (ポップアップの基準点) */
.xtx_search_wrapper {
  position: relative;
}

/* 2. サジェストボックスのスタイル (デフォルトで非表示) */
.xtx_search_suggest {
  display: none;
  /* ← デフォルトで非表示 */
  position: absolute;
  /* 検索ボックスの高さ(common.cssで34px) + 枠線2px = 36px */
  top: 36px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-top: none;
  /* 上のボーダーは不要 */
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  /* 他の要素より手前に表示 */
}

/* 3. JavaScriptによって .show クラスが付与されたら表示 */
.xtx_search_suggest.show {
  display: block;
}

/* 4. リストとアイテムのスタイル */
.xtx_search_suggest ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.xtx_search_suggest li a {
  display: block;
  padding: 6px 10px;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.2s;
}

/* 5. マウスオーバー時のスタイル */
.xtx_search_suggest li a:hover {
  background-color: #f5f5f5;
  color: #27BA9B;
  /* サイトのテーマカラー */
}

/* --- 検索サジェスト (ここまで) --- */